<h2><%= @server.username%>`s Show Page</h2>
<p>
<h3>Name: <%= @server.username%></h3>
</p>
<h3>Email: <%= @server.email%></h3>


<ul>
<% @server.sections.each do |section| %>
  <h3>Section(s): <%=section.letter%></h3>
  <% Table.section_tables("#{:section_id}").each do |table| %>
  <li><a class="button" href="/tables/<%= table.id %>"> <%= table.number %> </a></li>
   <% end %>

<% end %>
</ul>





<ul>
<a class="button" href="/logout">Logout</a>
<a class="button" href="/server/<%=@server.slug%>/edit">Edit your profile</a>
</ul>
