<% if flash[:message] %>
  <h3><%= flash[:message]%></h3>
<% end %>
<h2>All Tips List</h2>


<ul>
  <% @tips.each do |tip| %>
  <h4>Table number: <%=tip.table_id%></h4>
  <h3>Table: <%=tip.amount%></h3>
  <h3>Server: <%=tip.server.username%></h3>


  <li><a class="button" href="/tips/<%=tip.id%>/edit">Amount: Usd <%= tip.amount %> </a></li>

   <% end %>

</ul>

<h3>Total: <%=@tips.sum(:amount)%></h3>
