#all tips from the current_user
<% if flash[:message] %>
  <h3><%= flash[:message]%></h3>
<% end %>
<h2><%= @server.username%>`s Tips</h2>
<p>
<h3>Name: <%= @server.username%></h3>
</p>
<h3>Email: <%= @server.email%></h3>

<ul>
      <% current_user.tips.each do |tip| %>
      <h4>Table: <%=tip.table_id%></h4>
      <li><a class="button" href="/tips/<%=@server.slug%>/edit">Amount: Usd <%= tip.amount %> </a></li>
   <% end %>
</ul>

<ul>
<p><a class="button" href="/">Home</a><p/>
  <a class="button" href="/tips/new">Insert your new tip</a>
</ul>
<br>
<a class="button" href="/servers/<%=@server.slug%>"><%=@server.username%>`s Home page</a>
</br>
